body{
font-size: 1.6em;
/*16px. So, the default size of 1em is 16px.
The size can be calculated from pixels to em using this formula: pixels/16=em*/
}

.jumbotron{
  background-image: url('images/hero2.jpg');
  background-size:cover;
  background-position: left;
    padding:0px;
    height:600px;

}

.repeater{
background: url('images/header_bg.jpg') repeat-x;
  height:500px;
    padding:0px;
}

.hero{
background-image: url('images/hero2.jpg');
background-size:cover;
background-position: left;
  padding:0px;
  height:600px;
}
/*.hero img{
max-width:100%;
}*/
.overlay-text  {
  float:right;
  margin-right:80px;
  text-align:center;
padding-top:20px;
padding-bottom:40px;
  /*width:48%;*/
  color:white;
margin-top:200px;
background-color:rgba(146, 57, 7, 0.63);
}

.overlay-text h1 {
font-family: Raleway;
padding-bottom:10px;

}

.overlay-text h2 {
font-family: Raleway;

color: rgb(21, 20, 19);
}

.container-full-bg {width:100%;
  background-image: url('images/hero2.jpg');
  height:100%;
  max-width:100%;
  background-position:left;
  background-size:cover;
height:600px;
}

/*.overlay-text {
  font-size:3.5vw;
  float:right;
  width:65%;
  bottom:21vw;
  padding: 25px;
  background:#f7f7f7;


}*/

.secondcontainer{

background-image: url('images/large_bg.jpg');
background-size:cover;
background-position: center;
}

.secondcontainer h1{

text-align:center;
/*font-size:130%;*/
padding:10px;
color:rgb(245, 250, 245);
}


.secondcontainertext{
  padding:30px;
  font-size1.7em;
font-family:Sanchez;
}

.large{
  color: rgb(218, 163, 13);
      font-size: 1.9em;
    font-family:Sanchez;
}

.whitebg{
margin-top:20px;
margin-bottom:20px;
background-color:rgb(255, 255, 255);

}
.whitebg h2{
padding-top:20px;
color: rgb(218, 163, 13);
font-family:Sanchez;
padding-left:20px;
}

.whitebg p{
padding-left:20px;
}

.bg{
    
    color:black;
}


.btncenter{
text-align:center;
max-width: 300px;
 margin:0px auto;
padding:30px;

}

.text{
margin-top:50px;

}

.footerbg{
  text-align:center;
background-color:rgb(0, 0, 0);
padding:20px;
}

.btn-default {
    color: #fff;
    background-color: #daa30c;
    border-color: #ccc;
    margin-left:60px;
    margin-bottom:30px;
}
